<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
  <label>
    Name: <%= text_input f, :name %>
  </label>

  <label>
    Email: <%= text_input f, :email %>
  </label>

  <label>
    Password: <%= text_input f, :password %>
  </label>

  <%= submit "Submit" %>
<% end %>
