<%= form_for @changeset, Routes.login_path(@conn, :create), [class: "login"], fn f -> %>
  <label>
    Email: <%= text_input f, :email %>
  </label>

  <label>
    Password: <%= password_input f, :password %>
  </label>

  <%= submit "Submit" %>
<% end %>
