<%= form_for @changeset, Routes.login_path(@conn, :create), [class: "user-form"], fn f -> %>
  <label>
    <%= text_input f, :email, placeholder: "Email" %>
  </label>

  <label>
    <%= password_input f, :password, placeholder: "Senha" %>
  </label>

  <%= submit "Entrar" %>
<% end %>
