<section class="user-form">
<%= form_for @changeset, Routes.login_path(@conn, :create), fn f -> %>
  <label>
    <%= text_input f, :email, placeholder: "Email" %>
  </label>

  <label>
    <%= password_input f, :password, placeholder: "Senha" %>
  </label>

  <%= submit "Entrar" %>
<% end %>
  <button onclick="location.href='<%= FatexWeb.Router.Helpers.user_path(@conn, :new) %>'" type="button">
     Nova conta
  </button>
</section>
