/* COLORS:
 * Base: #eeeeee
 * Button: #e0e0e0
 * Button-hover: #bcbcbc
 */

/***********
 * GENERAL *
 ***********/

button {
  border: none;
  border-radius: 10px;
  padding: 7px;
  background-color: #e0e0e0;
}
button:hover{
  background-color: #bcbcbc;
}
.button-warn {
  background-color: #ff616f;
}
.button-warn:hover{
  background-color: #ff1744;
}
.button-new {
  background-color: #64d8cb;
}
.button-new:hover{
  background-color: #26a69a;
}

/*************
 * MAIN BODY *
 *************/

main{
  position: fixed;
  object-fit: contain;
  height: 100vh;
  width: 100vw;
  background-color: #18a3b6;
}


/********
 * HOME *
 ********/

.home {
  margin-left: 13vw;
  margin-right: 13vw;
  padding: 20px;
  height: 100vh;
  background-color: #f8fdff;
}

.home > section {
  display: flex;
  justify-content: space-between;
}

.home > section > menu > button {
  width: 150px;
}

.home > .columns-name {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.home > .columns {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.home > .columns > button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.home > .columns > button > label {
  padding: 10px;
}

.home > .columns > .delete {
  width: 10%;
  min-width: 100px;
  justify-content: center;
}

/**************
 * MODEL LIST *
 **************/

.model-list {
  margin-left: 13vw;
  margin-right: 13vw;
  padding: 20px;
  height: 100vh;
  background-color: #f8fdff;
}

.model-list > menu > button {
  width: 150px;
}

.model-list > label {
  display: block;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2rem;
  text-align: center;
}

.model-list > form {
  text-align: center;
  padding: 20px;
}

.model-list > .columns-name {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.model-list > .columns {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.model-list > .columns > button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.model-list > .columns > button > label {
  padding: 10px;
}

/************
 * STEP NIL *
 ************/

.step-nil {
  background-color: #f8fdff;
  margin: 3px;
  padding: 10px; 
  border-radius: 5px;
}

.step-nil > label {
  display: block;
  font-family: 'Cabin Sketch', cursive;
  font-size: 4rem;
  text-align: center;
}

.step-nil > div > p {
  font-size: 1rem;
  font-family: 'Cousine', monospace;
}

/*************
 * STEP MENU *
 *************/

.menu{
  background-color: #18a3b6;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 7vh;
}

.menu > menu{
  border: none;
  border-radius: 10px;
  padding: 0.55rem;
  margin: 0.15rem;
}

/****************************
 * WRITER SECTION FROM STEP *
 ****************************/

.writer-section{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #60d5e8;
  width: 100vw;
  height: 93vh;
  padding-top: 10px;
}

.writer-section > menu{
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 5px;
  width-min: 10%;
  padding-left: 0;
  margin: 3px;
  margin-left: 5px;
  width: 9.5%;
  background-color: #f8fdff;
}

.writer-section > menu > label{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #cfcfcf;
  padding: 10px;
  width: fill;
}

.writer-section > menu > button{
  margin: 10px;
  width: fill;
  overflow: auto;
}

.writer-section > section{
  border-radius: 5px;
  width: 45%;
  overflow: auto;
}

.writer-section > div{
  border-radius: 5px;
  width: 45%;
  overflow: hidden;
}

.writer-section > div > button{
  margin: 2px;
  margin-left: 5px;
}

/******************
 * CARD FROM STEP *
 ******************/

.card{
  border-radius: 5px;
  border-left-style: solid;
  border-color: #484848;
  background-color: #f8fdff;
  padding: 10px;
  margin: 4px;
}

.card > form > .title{
  background-color: #cfcfcf;
  width: 97%;
  padding: 10px;
  border-style: none;
  border-radius: 5px;
}

.card > form > textarea{
  margin-top: 4px;
  margin-bottom: 5px;
  width: 99%;
  border-style: solid;
  border-width: 1px;
  border-color: #cfcfcf;
  border-radius: 5px;
  min-height: 100px;
}

.card > form > .remove{
  float: right;
}

/***************
 * USER MODAL *
 ***************/

.modal {
  display: block; /* Show because the liveview hides it */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal > .modal-content {
  background-color: #f8fdff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} 

/*********
 * LOGIN *
 *********/

.user-form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 60px;
  padding-top: 0px;
  border-radius: 5px;
}

.user-form > form {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.user-form > form > .title {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  margin: 0.5em;
}

.user-form > form > label{
  margin: 10px;
}

.user-form > form > label > input{
  border: none;
  border-bottom: 1px solid #888;
  padding-top: 20px;
  padding-left: 4px;
  padding-bottom: 5px;
  width: 15vw;
  min-width: 250px;
}

.user-form > form > button{
  margin: 10px;
}

.user-form > button {
  float: right;
  margin: 10px;
}

/***************
 * MODEL SHARE *
 ***************/

.model-share{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: 13vw;
  margin-right: 13vw;
  height: 100%;
  background-color: #f8fdff;
}

.model-share > button {
  width: 10rem;
  margin: 10px;
  float: left;
}

.model-share > form {
  padding: 20px;
  border-bottom: 1px solid #888;
}

.model-share > section > div {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #e8eaf6;
  padding: 12px;
  border-radius: 9px;
  font-size: 1.1rem;
}

/****************
 * PARTICLES.JS *
 ****************/

#particles-js {
  background-color: #18a3b6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/******************/
