<button phx-click="render" class="column button">visualizar</button>
<object data="<%= "/file/#{@model_id}/#{@render}" %>" type="application/pdf" width="100%" height="100%">
  <p> Tente novamente, caso seu navegador não possua suporte <a href="<%= "/file/#{@model_id}/{@render}" %>">aperte aqui!</a></p>
</object>
